<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	>

    <!-- Supported Devices -->

    <!-- Exclude Smart TVs which are not supported -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />
    <uses-feature android:name="android.hardware.screen.portrait" android:required="true" />
    <uses-feature android:name="android.hardware.faketouch" android:required="false" /> <!-- To make sure not filtered-->

    <application
        android:name=".VstackApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vstack"
        tools:targetApi="33">
        <activity
            android:name=".activities.BrandActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.LevelSelectorActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.InGameActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <!-- Exclude unused features to increase performance-->
        <uses-library android:name="android.hardware.camera" android:required="false"/>
        <uses-library android:name="android.hardware.camera2" android:required="false"/>
        <uses-library android:name="android.hardware.camera.autofocus" android:required="false"/>
        <uses-library android:name="android.hardware.camera.flash" android:required="false"/>

        <uses-library android:name="android.hardware.sensor" android:required="false"/>
        <uses-library android:name="android.hardware.sensor.accelerometer" android:required="false"/>
        <uses-library android:name="android.hardware.sensor.compass" android:required="false"/>
        <uses-library android:name="android.hardware.sensor.gyroscope" android:required="false"/>

        <uses-library android:name="android.hardware.nfc" android:required="false"/>

        <!-- USB to communicate with other devices like sensors -->
        <uses-library android:name="android.hardware.usb.accessory" android:required="false"/>
        <uses-library android:name="android.hardware.usb.host" android:required="false"/>

        <uses-library android:name="android.hardware.telephony" android:required="false"/>
        <uses-library android:name="android.hardware.telephony.gsm" android:required="false"/>
        <uses-library android:name="android.hardware.telephony.cdma" android:required="false"/>

        <!-- TV Features -->
        <uses-library android:name="android.software.leanback" android:required="false"/>
        <uses-library android:name="android.software.leanback_only" android:required="false"/>

        <uses-library android:name="android.hardware.vr.headtracking" android:required="false"/>
        <uses-library android:name="android.software.vr.mode" android:required="false"/>

        <!-- Android Wear ( smart watch ) -->
        <uses-library android:name="android.hardware.type.watch" android:required="false"/>
        <uses-library android:name="android.hardware.type.television" android:required="false"/>

         <!-- Allows devices to connect to each other directly over Wi-Fi -->
        <uses-library android:name="android.hardware.wifi.direct" android:required="false"/>

        <uses-library android:name="android.hardware.microphone" android:required="false"/>

    </application>

</manifest>